body { 
    background-color:paleturquoise;
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
    line-height:1.45;
    font-size:1em;
}
* { box-sizing: border-box }
p, h1 { color: azure; }
h1 { font-weight:200; }
a, li { 
    color: blue; 
    text-decoration: none;
    transition: color 500ms;
}
a:hover { color: lightseagreen; }

ul {
    padding:0;
    list-style: none;
}
ul li {
    display:inline-block;
    padding:0.1em;
    
    position:relative;
    width:49%;
}
ul li ul {
   /* display:none;*/
    position:absolute;
    left:0;
    top:1.2em;
}
ul li ul li {
    display:block;
    width:100%;
}
ul li:hover ul {
    display:block;
}
#container {
    max-width:600px;
    margin: 0 auto;
    position: relative;
}
#sketch {
    max-width: 720px;
    margin:0 auto;
    position:relative;
}
#sketch {
    max-width: 720px;
    margin:0 auto;
    position:relative;
}
img { width:300px; }
canvas { 
    border:1px solid darkblue;     
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}